body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #555555;
	background-repeat: no-repeat;
	background-color: #f2f2f2;
	text-align: left;
	line-height: 20px;
}

a:visited{
	font-family: Arial, Helvetica, sans-serif;
	color: #0066CC;
	text-decoration: underline;
}
a:hover{	font-family: Arial, Helvetica, sans-serif;
	color: #999999;
	text-decoration: none;}
a:link{
	font-family: Arial, Helvetica, sans-serif;
	color: #0066CC;
	text-decoration: none;}


/*----------------------------------------Body-----------------------------------------------*/

.myButton2 {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:3px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:sans-serif;
	font-size:13px;
	font-weight:bold;
	padding:3px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.myButton2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.myButton2:active {
	position:relative;
	top:1px;
}


.myButton {
	background-color:#44c767;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	//color:#000000;	
	font-family:sans-serif;
	font-size:13px;
	padding:3px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton_disabled {
	background-color:#EAEAEA;


	border-radius:10px;
	border:1px solid #18ab29;
	color:#707070;
	font-family:sans-serif;
	font-size:13px;
	padding:3px 10px;

}

.myButton3 {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:sans-serif;
	font-size:13px;
	font-weight:bold;
	padding:3px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.myButton3:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
	background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
	background-color:#fb9e25;
}
.myButton3:active {
	position:relative;
	top:1px;
}

.myButton5 {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:sans-serif;
	font-size:11px;
	//font-weight:bold;
	padding:1px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.myButton5:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
	background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
	background-color:#fb9e25;
}
.myButton5:active {
	position:relative;
	top:1px;
}

.menu {
	font-family: Arial;
	font-size: 9pt;
	color: #DC4040;
	height: 14px;
	line-height: 15px;
}

.loginfont {
	font-family: Arial;
	font-size: 9pt;
}

.menufont {
	font-family: Arial;
	font-size: 12pt;
}

.stdlabel {
	font-family: Arial;
	font-size: 9pt;
	color: #555555;
}

.stdfont {
	font-family: Arial;
	font-size: 9pt;
}

.stdpanel {
	font-family: Arial;
	font-size: 9pt;
}

/*----------------------------------------button-----------------------------------------------*/

#scaffold {
	width: 800px;
	margin-top:30px;
}

/*----------------------------------------top_menu-----------------------------------------------*/

#top_menu {


/*----------------------------------------left_area-----------------------------------------------*/
}

#top_menu_2 {
	overflow: hidden;
	height: 30px;
	width: 800px;


}



#left_area {
	width: 220px;
	background-image: url(../images/left_03.gif);
	background-repeat: repeat-y;
	
}

a.pkeylink:link {color: blue; text-decoration: none; }
a.pkeylink:visited {color: purple; text-decoration: none; }
a.pkeylink:hover {color: black; text-decoration: underline; }
a.pkeylink:active {color: red; } 


.from_title {
	background-color: #DFDFDF;
	padding-right: 10px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #C5C5C5;
	border-bottom-color: #C5C5C5;
	padding-left: 10px;
	border-right-width: 0px;
	border-left-width: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #DC4040;
	height: 30px;
	font-weight: bold;
	line-height: 15px;
}

.cancelsms_table {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.cancelsms_table a:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3C7CBB;
	text-decoration: none;
}
.cancelsms_table a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FF0000;
	text-decoration: underline;
}
.cancelsms_table a:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3C7CBB;
	text-decoration: none;
}

.cancelsms_table2 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEEEEE;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}



.from_content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-weight: normal;
}
.from_text_area {
	height: 100px;
	width: 498px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #5A5A5A;
	border-right-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	border-left-color: #5A5A5A;
	padding: 10px;
	background-color: #FBECEC;
}
.table_01 {
	color: #333333;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #C5C5C5;
	border-right-color: #C5C5C5;
	border-bottom-color: #C5C5C5;
	border-left-color: #C5C5C5;
}

	

.from_selection {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #FBECEC;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #5A5A5A;
	border-right-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	border-left-color: #5A5A5A;
	height: 19px;
}
.table_02 {
	background-color: #dddddd;
	border: 1px solid #666666;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}
.from_input {
	height: 20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #5A5A5A;
	border-right-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	border-left-color: #5A5A5A;
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}


.from_buttom {
	height: 17px;
	width: 45px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #3c3c3c;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E2E2E2;
	border-right-color: #555555;
	border-bottom-color: #555555;
	border-left-color: #E2E2E2;
}





#left_menu {
	margin-top: 0px;
	margin-right: 0px;
	
	

}

#submenu{
	}

#submenu a:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3C3C3C;
	text-decoration: none;
}
#submenu a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #DC4040;
	text-decoration: underline;
}
#submenu a:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3C3C3C;
	text-decoration: none;
	}


#submenu td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D6D6D6;
}

/*-------------------------login---------------------------*/
#login {
	width: 800px;
	margin-top:30px;
}

#login #content{
	text-align: left;
	padding: 20px;
}

#login #copyright{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #aaaaaa;
	text-align: center;
	margin-top: 50px;
}


#login_area {
	height: 111px;
	overflow: hidden;
}

#login_state {
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url(../images/body_37.gif);
	margin-top: 10px;
	
}


#login_id {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	
	}

#login_pw {
	margin:10px;
	}
	
#login_submit{
	margin-top: 0px;
	margin-right: 39px;
	margin-bottom: 0px;
	margin-left: 10px;
}


	
#input_login_id {
	height: 18px;
	width: 100px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #5A5A5A;
	border-right-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	border-left-color: #5A5A5A;
}

#input_login_pw {
	height: 18px;
	width: 100px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #5A5A5A;
	border-right-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
	border-left-color: #5A5A5A;

}

#buttom_login_reset{
	height: 17px;
	width: 45px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #3c3c3c;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E2E2E2;
	border-right-color: #555555;
	border-bottom-color: #555555;
	border-left-color: #E2E2E2;

}

#buttom_login_submit{
	height: 17px;
	width: 45px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #3c3c3c;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E2E2E2;
	border-right-color: #555555;
	border-bottom-color: #555555;
	border-left-color: #E2E2E2;

}

/*----------------------------------------middle_area-----------------------------------------------*/
#main_content {
	padding-top: 10px;
	padding-right: 25px;
	padding-bottom: 0px;
	padding-left: 25px;
	text-align: left;
	
}

#main_content_2 {
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	text-align: left;


}


#right_area {
	width: 580px;
}

#main_title {}

#sub_title {
	padding-top: 10px;
	background-color: #FFFFFF;
}


/*----------------------------------------bottom_area-----------------------------------------------*/



#copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CBCBCB;
	line-height: 15px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}

	#copyright a:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
		}
	#copyright a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: underline;
		}
	#copyright a:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
		}


/*----------------------------------------Text-----------------------------------------------*/


.text_blue_12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3C7CBB;
}

	.text_blue_12 a:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3C7CBB;
	text-decoration: underline;
	}
	.text_blue_12 a:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3C7CBB;
	text-decoration: underline;
	
	}	
	.text_blue_12 a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	}
	
	
.text_red_12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FF0000;
}

	.text_blue_12 a:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
	}
	.text_blue_12 a:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
	
	}	
	.text_blue_12 a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	}
	
	
.connection_status_01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #009900;
}
.connection_status_02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CC9900;
}

.connection_status_03 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
}

.connection_status_0 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
}

#case_study{
	margin-bottom: 20px;
	
}

#case_study .title{}
#case_study .sub_title{}
#case_study .content{}
#case_study .table{
	border-right-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-right-color: #C5C5C5;
	border-left-width: 1px;
	border-left-color: #C5C5C5;
	
}

#case_study .p1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #678DB6;
}

#case_study .p2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #D68520;
	font-weight: bold;
}

#customized{
	margin-bottom: 20px;
	
}

#customized .title{}
#customized .sub_title{}
#customized .content{}
#customized .table{
	border-right-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-right-color: #C5C5C5;
	border-left-width: 1px;
	border-left-color: #C5C5C5;
	
}

#customized .p1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #678DB6;
}

#customized .p2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #1FA11A;
	font-weight: bold;
}

#purchase{
	margin-bottom: 20px;
	
}

#purchase .title{}
#purchase .sub_title{}
#purchase .content{}
#purchase .table{
	border-right-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-right-color: #C5C5C5;
	border-left-width: 1px;
	border-left-color: #C5C5C5;
	
}

#purchase .p1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #678DB6;
}

#purchase .p2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #9C4FB2;
	font-weight: bold;
}

#other{
	margin-bottom: 20px;
	
}

#other .title{}
#other .sub_title{}
#other .content{}
#other .table{
	border-right-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-right-color: #C5C5C5;
	border-left-width: 1px;
	border-left-color: #C5C5C5;
	
}

#other .p1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #678DB6;
}

#other .p2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	font-weight: bold;
}
