
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Index2</title>
</head>
<body>
    <div>
        <h2>Index2</h2>
        <div><a href="@Url.Action("Logout","Home")">登出</a></div>
    </div>
</body>
</html>
