<html>
<head>
    <title>MVC 範例系統</title>
    <meta http-equiv="Content-Type" content="text/html; charset=big5">
</head>
<frameset frameborder="no" framespacing="0" rows="*">
    <frameset cols="250,*" frameborder="no" framespacing="0">
        <frame name="leftFrame" scrolling="auto" noresize src="/Home/MenuItem5" target="disMain">
            <frameset rows="38" frameborder="no" framespacing="0">
                <frame name="disMain" src="" scrolling="auto">
            </frameset>
    </frameset>
</frameset>
<noframes>
    <body bgcolor="#FFFFFF">
    </body>
</noframes>
</html>